body {
  background-color: #dadada;
  margin-top: 4rem;
}

header {
  .navbar {
    background-color: #8a17d7;
    color: white
  }
}

.content-section {
  padding: 20px;
  background-color: bisque;
  margin: 10px;
}

.bg-black {
  background-color: black;
}

.nav-link {
  color: white;
}

.nav-header .navbar-brand {
  color: white;
}
.nav-header .navbar-toggler-icon{
  color: white;
}

